.round {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#top-social {
    display: inline;
    list-style: center;
    list-align: center;
}

#top-social li {
    display: block;
}

.social{
    text-indent:-9999px;
    width:60px;
    height:60px;
    -webkit-filter: grayscale(100%);
    /*-webkit-filter: brightness(50%);*/
}

#header #nav {
    position: fixed;
    width: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#nav ul {
    float: right;
}

body div.wrapper p {
    font-size: 18px;
}

body div.wrapper td {
    font-size: 18px;
    padding: 6px;
}

di.education {
    background-image: url("images/estudiar.jpg");
}